/* CSS declarations go here */

/*body { padding-top: 50px; }*/

/* For hover close button 

.row { 
  position: relative; 
}
.hover-btn { 
  position: absolute;
  right: 15px;
  display: none;
}

.row:hover .hover-btn {
  display: block;
}*/